html {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  opacity: 0.9;
  color: seashell;
  text-align: center;
  display: block;
}

header {
  position: fixed;
  z-index: 5;
  align-items: center;
  height: 69px;
  width: 100%;
  top: 0px;
  border-bottom: 1px solid seashell;
}

.header-container {
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.logo img {
  height: 50px;
  margin-left: 10px
}

nav {
  text-decoration: underline;
  margin-right: 10px;
}

nav span a:-webkit-any-link {
    color: seashell;
    cursor: default;
    text-decoration: underline;
    padding: 0px;
    margin-right: 10px;
}

.main-container {
  display: flex;
  position: relative;
  top: 70px;
  justify-content: center;
  flex-direction: column;
}

.mission-background {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
}

.mission-content {
  position: relative;
  top: 50%;
  background-color: black;
  padding: .1px;
}

.tea-container {
  display: flex;
  flex-flow: wrap column;
}

.item-image {
  height: 200px;
  width: 300px;
}
