html {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  opacity: 0.9;
  color: seashell;
  text-align: center;
  display: block;
}

header {
  position: fixed;
  z-index: 5;
  align-items: center;
  height: 69px;
  width: 100%;
  top: 0px;
  border-bottom: 1px solid seashell;
}

.header-container {
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.logo img {
  height: 50px;
  margin-left: 10px
}

nav {

  margin-right: 10px;
}

nav span a:-webkit-any-link {
  color: seashell;
  cursor: default;
  text-decoration: underline;
  padding: 0px;
  margin: 0px;
}

nav span {
  padding-right: 10px;
}

.main-container {
  display: flex;
  position: relative;
  top: 70px;
  justify-content: center;
  align-content: center;
  flex-flow: column wrap;
}

.mission-background {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
}

.mission-content {
  position: relative;
  top: 50%;
  background-color: black;
}

.mission-content h2, h4 {
  margin: 0px;
  padding: 10px;
}

#shop {
  width: 1000px;
  height: 700px;
  margin: 20px 100px 20px 100px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#shop h2 {
  margin: 0px;
}

.container-items {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.item img {
  height: 200px;
  width: 300px;
  display: block;
  margin: 10px;
}

.item span {
  font-weight: bold;
}

#locations {
  margin: 0px;
  padding: 100px 0px 10px 0px;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 1200px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
}

#locations h2 {
  margin-bottom: 15px;
}

.locations-container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}


.location {
  display: block;
  background-color: black;
  flex-direction: column;
  width: 300px;
  margin: 20px;
  opacity: 1.0
}

.contact {
  height: 200px;
  width: 1200px;
}

.contact h2 {
  margin-top: 10px;
  margin-bottom: 40px;
}

footer {
  text-align: left;
  margin-top: 100px;
  margin-left: 20px;
}
